<div class="container-fluid">

    <div class="row">

        <div class="col-md-4">

            <div class="card" style="width: 380px;">
                <img src="~/resources/MantenimientoGeneral.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mantenimiento de roles</h5>
                    <p class="card-text">Mantenimiento para crear eliminar y editar nuevos roles</p>
                    <a href="#" class="btn btn-outline-info">Ir al mantenimiento</a>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card" style="width: 380px;">
                <img src="~/resources/MantenimientoGeneral.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mantenimiento de roles</h5>
                    <p class="card-text">Mantenimiento para crear eliminar y editar nuevos roles</p>
                    <a href="#" class="btn btn-outline-info">Ir al mantenimiento</a>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card" style="width: 380px;">
                <img src="~/resources/MantenimientoGeneral.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mantenimiento de roles</h5>
                    <p class="card-text">Mantenimiento para crear eliminar y editar nuevos roles</p>
                    <a href="#" class="btn btn-outline-info">Ir al mantenimiento</a>
                </div>
            </div>

        </div>

    </div>
</div>

