<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 100%;">
                <img src="~/resources/YourImage.png" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title">Hola, como están gente de YouTube, los amo</h5>
                    <p class="card-text">Aquí puedes agregar más información sobre tu contenido.</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>
